make old tools/Transferir a Humano - White Dental.blueprint.json
{
    "name": "Transferir a Humano | White Dental",
    "flow": [
        {
            "id": 1,
            "module": "scenario-service:StartSubscenario",
            "version": 2,
            "parameters": {},
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "interface": [
                    {
                        "help": "numero telefónico del prospecto",
                        "name": "Telefono",
                        "type": "text",
                        "label": "",
                        "default": "",
                        "required": true,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "app#wassenger-0waevn:makeAnAPICall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5974439
            },
            "mapper": {
                "qs": [
                    {
                        "key": "upsert",
                        "value": "true"
                    }
                ],
                "url": "/chat/68fd1067b488de07029fccc2/chats/{{1.Telefono}}@c.us/labels",
                "body": "[\"humano\"]",
                "method": "PATCH",
                "headers": [
                    {
                        "key": "token",
                        "value": "0d747b11e1485df982f94e000f63848cade17f74f3a9f2233251b91d06b8c920dc4cd0c460eba697"
                    },
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 317,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "app#wassenger-0waevn"
                            },
                            "label": "Wassenger White Dental"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#wassenger-0waevn",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "Endpoint",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "Endpoint",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "scenario-service:ReturnData",
            "version": 2,
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1
                }
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "help": "numero telefónico del prospecto",
                "name": "Telefono",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}